@theme inline {
  --color-vercel-light-bg: oklch(from #ffffff l c h);
  --color-vercel-light-bg-dark: oklch(from #eeeeee l c h);
  --color-vercel-light-bg-dark1: oklch(from #dedede l c h);
  --color-vercel-light-bg-float: var(--color-vercel-light-bg-dark);
  --color-vercel-light-bg-highlight: oklch(from #e4e4e4 l c h);
  --color-vercel-light-bg-popup: var(--color-vercel-light-bg-dark);
  --color-vercel-light-bg-search: var(--color-vercel-light-blue0);
  --color-vercel-light-bg-sidebar: var(--color-vercel-light-bg-dark);
  --color-vercel-light-bg-statusline: var(--color-vercel-light-bg-dark);
  --color-vercel-light-bg-visual: oklch(from #9cb4f0 l c h);
  --color-vercel-light-black: oklch(from #ffffff l c h);
  --color-vercel-light-black-bright: oklch(from #676767 l c h);
  --color-vercel-light-blue: oklch(from #0084d4 l c h);
  --color-vercel-light-blue-bright: oklch(from #0084d4 l c h);
  --color-vercel-light-blue0: oklch(from #9cb4f0 l c h);
  --color-vercel-light-blue1: oklch(from #0065fe l c h);
  --color-vercel-light-blue2: oklch(from #0084d4 l c h);
  --color-vercel-light-blue5: oklch(from #0065fe l c h);
  --color-vercel-light-blue6: oklch(from #0065fe l c h);
  --color-vercel-light-blue7: oklch(from #bdd0f8 l c h);
  --color-vercel-light-border: var(--color-vercel-light-black);
  --color-vercel-light-border-highlight: oklch(from #3384fe l c h);
  --color-vercel-light-comment: oklch(from #818181 l c h);
  --color-vercel-light-cyan: oklch(from #009885 l c h);
  --color-vercel-light-cyan-bright: oklch(from #009885 l c h);
  --color-vercel-light-dark3: oklch(from #adadad l c h);
  --color-vercel-light-dark5: oklch(from #676767 l c h);
  --color-vercel-light-diff-add: oklch(from #bfe7cd l c h);
  --color-vercel-light-diff-change: oklch(from #f5f8fe l c h);
  --color-vercel-light-diff-delete: oklch(from #f4cacd l c h);
  --color-vercel-light-diff-text: var(--color-vercel-light-blue7);
  --color-vercel-light-error: var(--color-vercel-light-red1);
  --color-vercel-light-fg: oklch(from #515151 l c h);
  --color-vercel-light-fg-dark: oklch(from #818181 l c h);
  --color-vercel-light-fg-float: var(--color-vercel-light-fg);
  --color-vercel-light-fg-gutter: oklch(from #c9c9c9 l c h);
  --color-vercel-light-fg-sidebar: var(--color-vercel-light-fg-dark);
  --color-vercel-light-git-add: oklch(from #397458 l c h);
  --color-vercel-light-git-change: oklch(from #0084d4 l c h);
  --color-vercel-light-git-delete: oklch(from #e62f00 l c h);
  --color-vercel-light-git-ignore: var(--color-vercel-light-dark3);
  --color-vercel-light-green: oklch(from #009f35 l c h);
  --color-vercel-light-green-bright: oklch(from #009f35 l c h);
  --color-vercel-light-green1: oklch(from #397458 l c h);
  --color-vercel-light-green2: oklch(from #009f35 l c h);
  --color-vercel-light-hint: var(--color-vercel-light-teal);
  --color-vercel-light-info: var(--color-vercel-light-blue2);
  --color-vercel-light-magenta: oklch(from #a664e2 l c h);
  --color-vercel-light-magenta-bright: oklch(from #a664e2 l c h);
  --color-vercel-light-magenta2: oklch(from #cc236d l c h);
  --color-vercel-light-orange: oklch(from #b26500 l c h);
  --color-vercel-light-purple: oklch(from #bd55fa l c h);
  --color-vercel-light-rainbow1: var(--color-vercel-light-blue);
  --color-vercel-light-rainbow2: var(--color-vercel-light-yellow);
  --color-vercel-light-rainbow3: var(--color-vercel-light-green);
  --color-vercel-light-rainbow4: var(--color-vercel-light-teal);
  --color-vercel-light-rainbow5: var(--color-vercel-light-magenta);
  --color-vercel-light-rainbow6: var(--color-vercel-light-purple);
  --color-vercel-light-rainbow7: var(--color-vercel-light-orange);
  --color-vercel-light-rainbow8: var(--color-vercel-light-red);
  --color-vercel-light-red: oklch(from #d22a38 l c h);
  --color-vercel-light-red-bright: oklch(from #d22a38 l c h);
  --color-vercel-light-red1: oklch(from #d22a38 l c h);
  --color-vercel-light-teal: oklch(from #009885 l c h);
  --color-vercel-light-todo: var(--color-vercel-light-blue);
  --color-vercel-light-warning: var(--color-vercel-light-yellow);
  --color-vercel-light-yellow: oklch(from #946300 l c h);
  --color-vercel-light-yellow-bright: oklch(from #946300 l c h);
}