// Vercel Zellij Colors
// Add this file to your `CONFIG_DIR/themes` directory as described here:
// https://zellij.dev/documentation/themes#getting-zellij-to-pick-up-the-theme

themes {
    vercel_light {
        fg "#171717"
        bg "#f2f2f2"
        // Black should match the terminal background color
        // This ensures the top and bottom bars are transparent
        black "#ffffff"
        red "#d8001b"
        green "#107d32"
        yellow "#ffae00"
        blue "#005ff2"
        magenta "#a000f8"
        cyan "#00ac96"
        white "#4d4d4d"
        orange "#aa4d00"
    }
}

