(
  selected_tab: Some("#a000f8"),
  command_fg: Some("#4d4d4d"),
  selection_bg: Some("#f2f2f2"),
  selection_fg: Some("#00ac96"),
  cmdbar_bg: Some("#ffffff"),
  cmdbar_extra_lines_bg: Some("#ffffff"),
  disabled_fg: Some("#4d4d4d"),
  diff_line_add: Some("#107d32"),
  diff_line_delete: Some("#d8001b"),
  diff_file_added: Some("#007f70"),
  diff_file_removed: Some("#fc0035"),
  diff_file_moved: Some("#f22782"),
  diff_file_modified: Some("#ffae00"),
  commit_hash: Some("#a000f8"),
  commit_time: Some("#00ac96"),
  commit_author: Some("#107d32"),
  danger_fg: Some("#d8001b"),
  push_gauge_bg: Some("#ffffff"),
  push_gauge_fg: Some("#171717"),
  tag_fg: Some("#f22782"),
  branch_fg: Some("#ffae00")
)
