(
  selected_tab: Some("#bd55fa"),
  command_fg: Some("#808080"),
  selection_bg: Some("#e4e4e4"),
  selection_fg: Some("#009885"),
  cmdbar_bg: Some("#ffffff"),
  cmdbar_extra_lines_bg: Some("#ffffff"),
  disabled_fg: Some("#808080"),
  diff_line_add: Some("#009f35"),
  diff_line_delete: Some("#d22a38"),
  diff_file_added: Some("#397458"),
  diff_file_removed: Some("#d22a38"),
  diff_file_moved: Some("#cc236d"),
  diff_file_modified: Some("#946300"),
  commit_hash: Some("#bd55fa"),
  commit_time: Some("#009885"),
  commit_author: Some("#009f35"),
  danger_fg: Some("#d22a38"),
  push_gauge_bg: Some("#ffffff"),
  push_gauge_fg: Some("#515151"),
  tag_fg: Some("#cc236d"),
  branch_fg: Some("#946300")
)
