(
  selected_tab: Some("#c472fb"),
  command_fg: Some("#a1a1a1"),
  selection_bg: Some("#1a1a1a"),
  selection_fg: Some("#00aa95"),
  cmdbar_bg: Some("#000000"),
  cmdbar_extra_lines_bg: Some("#000000"),
  disabled_fg: Some("#a1a1a1"),
  diff_line_add: Some("#00ac3a"),
  diff_line_delete: Some("#f13242"),
  diff_file_added: Some("#70d9a8"),
  diff_file_removed: Some("#f13242"),
  diff_file_moved: Some("#f12b82"),
  diff_file_modified: Some("#ffae00"),
  commit_hash: Some("#c472fb"),
  commit_time: Some("#00aa95"),
  commit_author: Some("#00ac3a"),
  danger_fg: Some("#f13242"),
  push_gauge_bg: Some("#000000"),
  push_gauge_fg: Some("#ededed"),
  tag_fg: Some("#f12b82"),
  branch_fg: Some("#ffae00")
)
