.theme-light,
.theme-dark {
  --header-primary: #ededed;
  --header-secondary: #a1a1a1;
  --text-normal: #ededed;
  --text-muted: #a1a1a1;
  --text-link: #47a8ff;
  --text-link-low-saturation: #a6b5ff;
  --text-positive: #00aa95;
  --text-warning: #ffae00;
  --text-danger: #f13242;
  --text-brand: #47a8ff;
  --background-primary: #000000;
  --bg-base-primary: #000000;
  --background-secondary: #0a0a0a;
  --background-secondary-alt: #0a0a0a;
  --background-tertiary: #111111;
  --background-accent: #1f3e70;
  --background-floating: #0a0a0a;
  --background-nested-floating: #0a0a0a;
  --background-mobile-primary: #000000;
  --background-mobile-secondary: #0a0a0a;
  --bg-base-secondary: #0a0a0a;
  --bg-surface-raised: #0a0a0a;
  --home-background: #000000;
  --chat-background: #000000;
  --chat-border: #1a1a1a;
  --chat-input-container-background: #000000;
  --background-modifier-hover: #45454526;
  --background-modifier-selected: #45454532;
  --background-modifier-accent: #45454542;
  --background-modifier-active: #4545452B;
  --info-positive-background: #00ac3a26;
  --info-positive-foreground: #00aa95;
  --info-positive-text: #ededed;
  --brand-500: #1f3e70;
  --brand-560: #47a8ff;
  --info-warning-background: #ffae0026;
  --info-warning-foreground: #ffae00;
  --info-warning-text: #ededed;
  --info-danger-background:#f1324226;
  --info-danger-foreground: #f13242;
  --info-danger-text: #ededed;
  --info-help-background: #a6b5ff26;
  --info-help-foreground: #47a8ff;
  --info-help-text: #ededed;
  --status-positive-background: #00aa95;
  --status-positive-text: #000000;
  --status-warning-background: #ffae00;
  --status-warning-text: #000000;
  --status-danger-background: #f13242;
  --status-danger-text: #000000;
  --status-danger: #f13242;
  --status-positive: #00aa95;
  --status-warning: #ffae00;
  --status-yellow-400: #ffae00;
  --status-green-600: #00aa95;
  --primary-dark-600: #000000;
  --status-yellow-560: #ffae00;
  --status-red-500: #f13242;
  --status-red-530: #f13242;
  --status-yellow-500: #ffae00;
  --black-500: #1a1a1a;
  --green-360: #00aa95;
  --yellow-360: #ffae00;
  --yellow-300: #ffae00;
  --red-400: #f13242;
  --primary-100: #878787;
  --primary-300: #878787;
  --primary-400: #878787;
  --primary-dark-700: #1a1a1a;
  --primary-800: #1a1a1a;
  --status-green-560: #00aa95;
  --white-400: #ededed;
  --white-500: #ededed;
  --guild-boosting-pink: #c472fb;
  --premium-perk-yellow: #ffae00;
  --premium-perk-purple: #c472fb;
  --premium-perk-dark-blue: #47a8ff;
  --premium-perk-light-blue: #a6b5ff;
  --premium-perk-blue: #47a8ff;
  --premium-perk-green: #00aa95;
  --premium-perk-pink: #f12b82;
  --premium-perk-orange: #ff990a;
  --status-green-400: #00aa95;
  --button-danger-background: #f13242;
  --button-danger-background-hover: #f13242;
  --button-danger-background-active: #a6b5ff;
  --button-danger-background-disabled: #f13242;
  --button-positive-background: #00aa95;
  --button-positive-background-hover: #70d9a8;
  --button-positive-background-active: #00ac3a;
  --button-positive-background-disabled: #00aa95;
  --button-secondary-background: #454545;
  --button-secondary-background-hover: #2e2e2e;
  --button-secondary-background-active: #2e2e2e;
  --button-secondary-background-disabled: #878787;
  --button-outline-danger-text: #ededed;
  --button-outline-danger-border: #f13242;
  --button-outline-danger-background: transparent;
  --button-outline-danger-background-hover: #f13242;
  --button-outline-danger-text-hover: #000000;
  --button-outline-danger-border-hover: #f13242;
  --button-outline-danger-background-active: #f13242;
  --button-outline-danger-text-active: #000000;
  --button-outline-danger-border-active: #f13242;
  --button-outline-positive-text: #ededed;
  --button-outline-positive-border: #00aa95;
  --button-outline-positive-background: transparent;
  --button-outline-positive-background-hover: #00ac3a;
  --button-outline-positive-text-hover: #000000;
  --button-outline-positive-border-hover: #00ac3a;
  --button-outline-positive-background-active: #70d9a8;
  --button-outline-positive-text-active: #000000;
  --button-outline-positive-border-active: #00ac3a;
  --button-outline-brand-text: #ededed;
  --button-outline-brand-border: #47a8ff;
  --button-outline-brand-background: transparent;
  --button-outline-brand-background-hover: #a6b5ff;
  --button-outline-brand-text-hover: #000000;
  --button-outline-brand-border-hover: #a6b5ff;
  --button-outline-brand-background-active: #47a8ff;
  --button-outline-brand-text-active: #000000;
  --button-outline-brand-border-active: #a6b5ff;
  --button-outline-primary-text: #ededed;
  --button-outline-primary-border: #454545;
  --button-outline-primary-background: transparent;
  --button-outline-primary-background-hover: #454545;
  --button-outline-primary-text-hover: #000000;
  --button-outline-primary-border-hover: #454545;
  --button-outline-primary-background-active: #454545;
  --button-outline-primary-text-active: #000000;
  --button-outline-primary-border-active: #454545;
  --modal-background: #000000;
  --modal-footer-background: #1a1a1a;
  --scrollbar-thin-thumb: #47a8ff;
  --scrollbar-thin-track: transparent;
  --scrollbar-auto-thumb: #47a8ff;
  --scrollbar-auto-track: #1a1a1a;
  --scrollbar-auto-scrollbar-color-thumb: #47a8ff;
  --scrollbar-auto-scrollbar-color-track: #1a1a1a;
  --input-background: #1a1a1a;
  --input-placeholder-text: #878787;
  --logo-primary: #ededed;
  --control-brand-foreground: #47a8ff;
  --control-brand-foreground-new: #47a8ff;
  --mention-foreground: #47a8ff;
  --mention-background: #878787;
  --background-mentioned: #ffae0019;
  --background-mentioned-hover: #ffae0014;
  --background-message-hover: #0a0a0a3F;
  --background-message-automod: #c472fb0C;
  --background-message-automod-hover: #c472fb19;
  --background-message-highlight: #47a8ff14;
  --background-message-highlight-hover: #47a8ff0F;
  --channels-default: #a1a1a1;
  --channel-icon: #47a8ff99;
  --channel-text-area-placeholder: #4545457F;
  --channeltextarea-background: #0a0a0a;
  --activity-card-background: #1a1a1a;
  --textbox-markdown-syntax: #ededed;
  --spoiler-revealed-background: #1a1a1a;
  --spoiler-hidden-background: #a1a1a1;
  --android-navigation-bar-background: #1a1a1a;
  --android-ripple: #0000004C;
  --bg-mod-faint: #0a0a0a;
  --bg-mod-subtle: #878787;
  --focus-primary: #47a8ff;
  --interactive-normal: #ededed;
  --interactive-muted: #4545454C;
  --interactive-hover: #ededed;
  --interactive-active: #ededed;
  --search-popout-option-non-text-color: #a1a1a1;
  --__spoiler-background-color--hidden: #0f2a4a;
  --__spoiler-warning-background-color: #c472fb;
}

div[class*="autocomplete_"] {
    background-color: #0a0a0a !important;
}

div[class*="autocomplete_"]
div[class*="categoryHeader"] {
    background-color: #0a0a0a !important;
}

rect[mask="url(#svg-mask-status-online)"] {
    fill: #00ac3a;
}

rect[mask="url(#svg-mask-status-idle)"] {
    fill: #ffae00;
}

rect[mask="url(#svg-mask-status-dnd)"] {
    fill: #f13242;
}

rect[mask="url(#svg-mask-status-offline)"] {
    fill: #878787;
}

/* hljs */
/* stolen from https://github.com/x6r/dracula/blob/main/addons/hljs-styling.scss :D */
:root {
  /* ---- Default Colors -- */
  --background: var(--background-secondary);
  --text-default: #a1a1a1;
  --color-1: #f13242;
  --color-2: #ff990a;
  --color-3: #ffae00;
  --color-4: #00ac3a;
  --color-5: #70d9a8;
  --color-6: #a6b5ff;
  --color-7: #47a8ff;
  --color-8: #00aa95;
  --color-9: #47a8ff;
  --color-10: #c472fb;
  --color-11: #ededed;
  /* ---- HLJS Default -- */
  --hljs-attribute: var(--color-7);
  --hljs-nomarkup: var(--color-8);
  --hljs-variable: var(--color-11);
  --hljs-meta: var(--color-8);
  --hljs-meta-string: var(--color-4);
  --hljs-meta-keyword: var(--hljs-meta);
  --hljs-literal: var(--color-2);
  --hljs-section: var(--color-9);
  --hljs-number: var(--color-2);
  --hljs-name: var(--color-4);
  --hljs-selector-tag: var(--color-4);
  --hljs-selector-class: var(--color-9);
  --hljs-selector-attr: var(--color-7);
  --hljs-selector-pseudo: var(--color-7);
  --hljs-selector-id: var(--hljs-selector-class);
  --hljs-keyword: var(--color-10);
  --hljs-built_in: var(--color-3);
  --hljs-title: var(--color-9);
  --hljs-link: var(--color-5);
  --hljs-bullet: var(--color-10);
  --hljs-symbol: var(--color-1);
  --hljs-addition: var(--color-1);
  --hljs-deletion: var(--color-5);
  --hljs-attr: var(--color-2);
  --hljs-punctuation: var(--text-default);
  --hljs-regexp: var(--color-6);
  --hljs-type: var(--color-10);
  --hljs-operator: var(--color-10);
  --hljs-rest_arg: var(--text-default);
  --hljs-template-variable: var(--color-11);
  /* ---- HLJS Specific -- */
  /* --> Params */
  --hljs-params: var(--text-default);
  --hljs-params-attr: var(--hljs-params);
  /* --> Comment */
  --hljs-comment: #a1a1a1;
  --hljs-comment-doctag: var(--hljs-comment);
  /* --> String */
  --hljs-string: var(--color-4);
  --hljs-string-subst: var(--color-5);
  --hljs-string-template-variable: var(--color-2);
  /* --> Tag */
  --hljs-tag: var(--color-7);
  --hljs-tag-name: var(--color-10);
  --hljs-tag-attr: var(--color-5);
  /* --> Function */
  --hljs-function: var(--text-default);
  --hljs-function-keyword: var(--hljs-keyword);
  --hljs-function-title: var(--hljs-title);
  --hljs-function-params: var(--hljs-params);
  --hljs-function-literal: var(--hljs-literal);
  --hljs-function-operator: var(--hljs-operator);
  /* --> Class */
  --hljs-class: var(--text-default);
  --hljs-class-keyword: var(--color-6);
  --hljs-class-title: var(--color-7);
}

#app-mount .hljs {
  font-family: "JetBrainsMono Nerd Font", "JetBrains Mono", var(--font-code),
    monospace;
  background: var(--background-secondary);
  color: var(--text-normal);
  padding: 15px 20px;
  border-radius: 5px;
}

#app-mount .codeLine-3a3dbd {
  color: var(--text-default);
}

#app-mount .hljs-comment {
  color: var(--hljs-comment);
}

#app-mount .hljs-attribute {
  color: var(--hljs-attribute);
}

#app-mount .hljs-nomarkup {
  color: var(--hljs-nomarkup);
}

#app-mount .hljs-variable {
  color: var(--hljs-variable);
}

#app-mount .hljs-meta {
  color: var(--hljs-meta);
}

#app-mount .hljs-meta-string {
  color: var(--hljs-meta-string);
}

#app-mount .hljs-meta-keyword {
  color: var(--hljs-meta-keyword);
}

#app-mount .hljs-literal {
  color: var(--hljs-literal);
}

#app-mount .hljs-string {
  color: var(--hljs-string);
}

#app-mount .hljs-section {
  color: var(--hljs-section);
}

#app-mount .hljs-number {
  color: var(--hljs-number);
}

#app-mount .hljs-tag {
  color: var(--hljs-tag);
}

#app-mount .hljs-name {
  color: var(--hljs-name);
}

#app-mount .hljs-selector-tag {
  color: var(--hljs-selector-tag);
}

#app-mount .hljs-selector-class {
  color: var(--hljs-selector-class);
}

#app-mount .hljs-selector-attr {
  color: var(--hljs-selector-attr);
}

#app-mount .hljs-selector-pseudo {
  color: var(--hljs-selector-pseudo);
}

#app-mount :not(.hljs-function) > .hljs-keyword {
  color: var(--color10);
  font-style: italic;
}

#app-mount .hljs-function {
  color: var(--hljs-function);
}

#app-mount .hljs-built_in {
  color: var(--hljsbuilt_in);
}

#app-mount .hljs-title {
  color: var(--hljs-title);
}

#app-mount .hljs-link {
  color: var(--hljs-link);
}

#app-mount .hljs-bullet {
  color: var(--hljs-bullet);
}

#app-mount .hljs-symbol {
  color: var(--hljs-symbol);
}

#app-mount .hljs-addition {
  color: var(--hljs-addition);
}

#app-mount .hljs-deletion {
  color: var(--hljs-deletion);
}

#app-mount .hljs-attr {
  color: var(--hljs-attr);
}

#app-mount .hljs-punctuation {
  color: var(--hljs-punctuation);
}

#app-mount .hljs-regexp {
  color: var(--hljs-regexp);
}

#app-mount .hljs-type {
  color: var(--hljs-type);
}

#app-mount .hljs-selector-id {
  color: var(--hljs-selector-id);
}

#app-mount .hljs-params {
  color: var(--hljs-params);
}

#app-mount .hljs-operator {
  color: var(--hljs-operator);
}

#app-mount .hljs-rest_arg {
  color: var(--hljs-rest_arg);
}

#app-mount .hljs-template-variable {
  color: var(--hljs-template-variable);
}

#app-mount .hljs-comment .hljs-doctag {
  color: var(--hljs-comment-doctag);
}

#app-mount .hljs-params .hljs-attr {
  color: var(--hljs-params-attr);
}

#app-mount .hljs-string .hljs-subst {
  color: var(--hljs-string-subst);
}

#app-mount .hljs-string .hljs-template-variable {
  color: var(--hljs-string-template-variable);
}

#app-mount .hljs-tag .hljs-name {
  color: var(--hljs-tag-name);
}

#app-mount .hljs-tag .hljs-attr {
  color: var(--hljs-tag-attr);
}

#app-mount .hljs-function .hljs-keyword {
  color: var(--hljs-function-keyword);
}

#app-mount .hljs-function .hljs-title {
  color: var(--hljs-function-title);
}

#app-mount .hljs-function .hljs-literal {
  color: var(--hljs-function-literal);
}

#app-mount .hljs-function .hljs-params {
  color: var(--hljs-function-params);
}

#app-mount .hljs-function .hljs-operator {
  color: var(--hljs-function-operator);
}

#app-mount .hljs-class .hljs-keyword {
  color: var(--hljs-class-keyword);
}

#app-mount .hljs-class .hljs-title {
  color: var(--hljs-class-title);
}

/* Haskell Specific Syntax */
#app-mount .hs .hljs-type {
  color: var(--color-7);
}

/* Lua Specific Syntax */
#app-mount .lua .hljs-built_in {
  color: var(--color-7);
}

/* Clang Specific Syntax */
#app-mount .c .hljs-keyword {
  color: var(--color-7);
}
#app-mount .c .hljs-built_in {
  color: var(--color-9);
}
#app-mount .c > .hljs-keyword {
  color: var(--color-10);
}

/* CSS Specific Syntax */
#app-mount .css .hljs-built_in {
  color: var(--color-5);
}

/* Rust Specific Syntax */
#app-mount .rust .hljs-built_in {
  color: var(--color-7);
}

/* PHP Specific Syntax */
#app-mount .php .hljs-variable {
  color: var(--color-10);
}
