.theme-light,
.theme-dark {
  --header-primary: #171717;
  --header-secondary: #4d4d4d;
  --text-normal: #171717;
  --text-muted: #4d4d4d;
  --text-link: #005ff2;
  --text-link-low-saturation: #005ff2;
  --text-positive: #00ac96;
  --text-warning: #ffae00;
  --text-danger: #d8001b;
  --text-brand: #005ff2;
  --background-primary: #ffffff;
  --bg-base-primary: #ffffff;
  --background-secondary: #fafafa;
  --background-secondary-alt: #fafafa;
  --background-tertiary: #f2f2f2;
  --background-accent: #cae7ff;
  --background-floating: #fafafa;
  --background-nested-floating: #fafafa;
  --background-mobile-primary: #ffffff;
  --background-mobile-secondary: #fafafa;
  --bg-base-secondary: #fafafa;
  --bg-surface-raised: #fafafa;
  --home-background: #ffffff;
  --chat-background: #ffffff;
  --chat-border: #f2f2f2;
  --chat-input-container-background: #ffffff;
  --background-modifier-hover: #c9c9c926;
  --background-modifier-selected: #c9c9c932;
  --background-modifier-accent: #c9c9c942;
  --background-modifier-active: #c9c9c92B;
  --info-positive-background: #107d3226;
  --info-positive-foreground: #00ac96;
  --info-positive-text: #171717;
  --brand-500: #cae7ff;
  --brand-560: #005ff2;
  --info-warning-background: #ffae0026;
  --info-warning-foreground: #ffae00;
  --info-warning-text: #171717;
  --info-danger-background:#d8001b26;
  --info-danger-foreground: #d8001b;
  --info-danger-text: #171717;
  --info-help-background: #005ff226;
  --info-help-foreground: #006bff;
  --info-help-text: #171717;
  --status-positive-background: #00ac96;
  --status-positive-text: #ffffff;
  --status-warning-background: #ffae00;
  --status-warning-text: #ffffff;
  --status-danger-background: #d8001b;
  --status-danger-text: #ffffff;
  --status-danger: #d8001b;
  --status-positive: #00ac96;
  --status-warning: #ffae00;
  --status-yellow-400: #ffae00;
  --status-green-600: #00ac96;
  --primary-dark-600: #ffffff;
  --status-yellow-560: #ffae00;
  --status-red-500: #d8001b;
  --status-red-530: #d8001b;
  --status-yellow-500: #ffae00;
  --black-500: #f2f2f2;
  --green-360: #00ac96;
  --yellow-360: #ffae00;
  --yellow-300: #ffae00;
  --red-400: #d8001b;
  --primary-100: #a8a8a8;
  --primary-300: #a8a8a8;
  --primary-400: #a8a8a8;
  --primary-dark-700: #f2f2f2;
  --primary-800: #f2f2f2;
  --status-green-560: #00ac96;
  --white-400: #171717;
  --white-500: #171717;
  --guild-boosting-pink: #a000f8;
  --premium-perk-yellow: #ffae00;
  --premium-perk-purple: #7d00cc;
  --premium-perk-dark-blue: #005ff2;
  --premium-perk-light-blue: #005ff2;
  --premium-perk-blue: #005ff2;
  --premium-perk-green: #00ac96;
  --premium-perk-pink: #c41562;
  --premium-perk-orange: #aa4d00;
  --status-green-400: #00ac96;
  --button-danger-background: #fc0035;
  --button-danger-background-hover: #d8001b;
  --button-danger-background-active: #005ff2;
  --button-danger-background-disabled: #d8001b;
  --button-positive-background: #00ac96;
  --button-positive-background-hover: #007f70;
  --button-positive-background-active: #28a948;
  --button-positive-background-disabled: #00ac96;
  --button-secondary-background: #c9c9c9;
  --button-secondary-background-hover: #eaeaea;
  --button-secondary-background-active: #eaeaea;
  --button-secondary-background-disabled: #a8a8a8;
  --button-outline-danger-text: #171717;
  --button-outline-danger-border: #fc0035;
  --button-outline-danger-background: transparent;
  --button-outline-danger-background-hover: #d8001b;
  --button-outline-danger-text-hover: #ffffff;
  --button-outline-danger-border-hover: #d8001b;
  --button-outline-danger-background-active: #fc0035;
  --button-outline-danger-text-active: #ffffff;
  --button-outline-danger-border-active: #fc0035;
  --button-outline-positive-text: #171717;
  --button-outline-positive-border: #00ac96;
  --button-outline-positive-background: transparent;
  --button-outline-positive-background-hover: #107d32;
  --button-outline-positive-text-hover: #ffffff;
  --button-outline-positive-border-hover: #107d32;
  --button-outline-positive-background-active: #007f70;
  --button-outline-positive-text-active: #ffffff;
  --button-outline-positive-border-active: #107d32;
  --button-outline-brand-text: #171717;
  --button-outline-brand-border: #005ff2;
  --button-outline-brand-background: transparent;
  --button-outline-brand-background-hover: #005ff2;
  --button-outline-brand-text-hover: #ffffff;
  --button-outline-brand-border-hover: #005ff2;
  --button-outline-brand-background-active: #005ff2;
  --button-outline-brand-text-active: #ffffff;
  --button-outline-brand-border-active: #005ff2;
  --button-outline-primary-text: #171717;
  --button-outline-primary-border: #c9c9c9;
  --button-outline-primary-background: transparent;
  --button-outline-primary-background-hover: #c9c9c9;
  --button-outline-primary-text-hover: #ffffff;
  --button-outline-primary-border-hover: #c9c9c9;
  --button-outline-primary-background-active: #c9c9c9;
  --button-outline-primary-text-active: #ffffff;
  --button-outline-primary-border-active: #c9c9c9;
  --modal-background: #ffffff;
  --modal-footer-background: #f2f2f2;
  --scrollbar-thin-thumb: #005ff2;
  --scrollbar-thin-track: transparent;
  --scrollbar-auto-thumb: #005ff2;
  --scrollbar-auto-track: #f2f2f2;
  --scrollbar-auto-scrollbar-color-thumb: #005ff2;
  --scrollbar-auto-scrollbar-color-track: #f2f2f2;
  --input-background: #f2f2f2;
  --input-placeholder-text: #a8a8a8;
  --logo-primary: #171717;
  --control-brand-foreground: #005ff2;
  --control-brand-foreground-new: #005ff2;
  --mention-foreground: #005ff2;
  --mention-background: #a8a8a8;
  --background-mentioned: #ffae0019;
  --background-mentioned-hover: #ffae0014;
  --background-message-hover: #fafafa3F;
  --background-message-automod: #a000f80C;
  --background-message-automod-hover: #a000f819;
  --background-message-highlight: #005ff214;
  --background-message-highlight-hover: #005ff20F;
  --channels-default: #4d4d4d;
  --channel-icon: #005ff299;
  --channel-text-area-placeholder: #c9c9c97F;
  --channeltextarea-background: #fafafa;
  --activity-card-background: #f2f2f2;
  --textbox-markdown-syntax: #171717;
  --spoiler-revealed-background: #f2f2f2;
  --spoiler-hidden-background: #4d4d4d;
  --android-navigation-bar-background: #f2f2f2;
  --android-ripple: #ffffff4C;
  --bg-mod-faint: #fafafa;
  --bg-mod-subtle: #a8a8a8;
  --focus-primary: #005ff2;
  --interactive-normal: #171717;
  --interactive-muted: #c9c9c94C;
  --interactive-hover: #171717;
  --interactive-active: #171717;
  --search-popout-option-non-text-color: #4d4d4d;
  --__spoiler-background-color--hidden: #e9f4ff;
  --__spoiler-warning-background-color: #7d00cc;
}

div[class*="autocomplete_"] {
    background-color: #fafafa !important;
}

div[class*="autocomplete_"]
div[class*="categoryHeader"] {
    background-color: #fafafa !important;
}

rect[mask="url(#svg-mask-status-online)"] {
    fill: #28a948;
}

rect[mask="url(#svg-mask-status-idle)"] {
    fill: #ffae00;
}

rect[mask="url(#svg-mask-status-dnd)"] {
    fill: #fc0035;
}

rect[mask="url(#svg-mask-status-offline)"] {
    fill: #a8a8a8;
}

/* hljs */
/* stolen from https://github.com/x6r/dracula/blob/main/addons/hljs-styling.scss :D */
:root {
  /* ---- Default Colors -- */
  --background: var(--background-secondary);
  --text-default: #4d4d4d;
  --color-1: #d8001b;
  --color-2: #aa4d00;
  --color-3: #ffae00;
  --color-4: #107d32;
  --color-5: #007f70;
  --color-6: #005ff2;
  --color-7: #006bff;
  --color-8: #00ac96;
  --color-9: #005ff2;
  --color-10: #a000f8;
  --color-11: #171717;
  /* ---- HLJS Default -- */
  --hljs-attribute: var(--color-7);
  --hljs-nomarkup: var(--color-8);
  --hljs-variable: var(--color-11);
  --hljs-meta: var(--color-8);
  --hljs-meta-string: var(--color-4);
  --hljs-meta-keyword: var(--hljs-meta);
  --hljs-literal: var(--color-2);
  --hljs-section: var(--color-9);
  --hljs-number: var(--color-2);
  --hljs-name: var(--color-4);
  --hljs-selector-tag: var(--color-4);
  --hljs-selector-class: var(--color-9);
  --hljs-selector-attr: var(--color-7);
  --hljs-selector-pseudo: var(--color-7);
  --hljs-selector-id: var(--hljs-selector-class);
  --hljs-keyword: var(--color-10);
  --hljs-built_in: var(--color-3);
  --hljs-title: var(--color-9);
  --hljs-link: var(--color-5);
  --hljs-bullet: var(--color-10);
  --hljs-symbol: var(--color-1);
  --hljs-addition: var(--color-1);
  --hljs-deletion: var(--color-5);
  --hljs-attr: var(--color-2);
  --hljs-punctuation: var(--text-default);
  --hljs-regexp: var(--color-6);
  --hljs-type: var(--color-10);
  --hljs-operator: var(--color-10);
  --hljs-rest_arg: var(--text-default);
  --hljs-template-variable: var(--color-11);
  /* ---- HLJS Specific -- */
  /* --> Params */
  --hljs-params: var(--text-default);
  --hljs-params-attr: var(--hljs-params);
  /* --> Comment */
  --hljs-comment: #4d4d4d;
  --hljs-comment-doctag: var(--hljs-comment);
  /* --> String */
  --hljs-string: var(--color-4);
  --hljs-string-subst: var(--color-5);
  --hljs-string-template-variable: var(--color-2);
  /* --> Tag */
  --hljs-tag: var(--color-7);
  --hljs-tag-name: var(--color-10);
  --hljs-tag-attr: var(--color-5);
  /* --> Function */
  --hljs-function: var(--text-default);
  --hljs-function-keyword: var(--hljs-keyword);
  --hljs-function-title: var(--hljs-title);
  --hljs-function-params: var(--hljs-params);
  --hljs-function-literal: var(--hljs-literal);
  --hljs-function-operator: var(--hljs-operator);
  /* --> Class */
  --hljs-class: var(--text-default);
  --hljs-class-keyword: var(--color-6);
  --hljs-class-title: var(--color-7);
}

#app-mount .hljs {
  font-family: "JetBrainsMono Nerd Font", "JetBrains Mono", var(--font-code),
    monospace;
  background: var(--background-secondary);
  color: var(--text-normal);
  padding: 15px 20px;
  border-radius: 5px;
}

#app-mount .codeLine-3a3dbd {
  color: var(--text-default);
}

#app-mount .hljs-comment {
  color: var(--hljs-comment);
}

#app-mount .hljs-attribute {
  color: var(--hljs-attribute);
}

#app-mount .hljs-nomarkup {
  color: var(--hljs-nomarkup);
}

#app-mount .hljs-variable {
  color: var(--hljs-variable);
}

#app-mount .hljs-meta {
  color: var(--hljs-meta);
}

#app-mount .hljs-meta-string {
  color: var(--hljs-meta-string);
}

#app-mount .hljs-meta-keyword {
  color: var(--hljs-meta-keyword);
}

#app-mount .hljs-literal {
  color: var(--hljs-literal);
}

#app-mount .hljs-string {
  color: var(--hljs-string);
}

#app-mount .hljs-section {
  color: var(--hljs-section);
}

#app-mount .hljs-number {
  color: var(--hljs-number);
}

#app-mount .hljs-tag {
  color: var(--hljs-tag);
}

#app-mount .hljs-name {
  color: var(--hljs-name);
}

#app-mount .hljs-selector-tag {
  color: var(--hljs-selector-tag);
}

#app-mount .hljs-selector-class {
  color: var(--hljs-selector-class);
}

#app-mount .hljs-selector-attr {
  color: var(--hljs-selector-attr);
}

#app-mount .hljs-selector-pseudo {
  color: var(--hljs-selector-pseudo);
}

#app-mount :not(.hljs-function) > .hljs-keyword {
  color: var(--color10);
  font-style: italic;
}

#app-mount .hljs-function {
  color: var(--hljs-function);
}

#app-mount .hljs-built_in {
  color: var(--hljsbuilt_in);
}

#app-mount .hljs-title {
  color: var(--hljs-title);
}

#app-mount .hljs-link {
  color: var(--hljs-link);
}

#app-mount .hljs-bullet {
  color: var(--hljs-bullet);
}

#app-mount .hljs-symbol {
  color: var(--hljs-symbol);
}

#app-mount .hljs-addition {
  color: var(--hljs-addition);
}

#app-mount .hljs-deletion {
  color: var(--hljs-deletion);
}

#app-mount .hljs-attr {
  color: var(--hljs-attr);
}

#app-mount .hljs-punctuation {
  color: var(--hljs-punctuation);
}

#app-mount .hljs-regexp {
  color: var(--hljs-regexp);
}

#app-mount .hljs-type {
  color: var(--hljs-type);
}

#app-mount .hljs-selector-id {
  color: var(--hljs-selector-id);
}

#app-mount .hljs-params {
  color: var(--hljs-params);
}

#app-mount .hljs-operator {
  color: var(--hljs-operator);
}

#app-mount .hljs-rest_arg {
  color: var(--hljs-rest_arg);
}

#app-mount .hljs-template-variable {
  color: var(--hljs-template-variable);
}

#app-mount .hljs-comment .hljs-doctag {
  color: var(--hljs-comment-doctag);
}

#app-mount .hljs-params .hljs-attr {
  color: var(--hljs-params-attr);
}

#app-mount .hljs-string .hljs-subst {
  color: var(--hljs-string-subst);
}

#app-mount .hljs-string .hljs-template-variable {
  color: var(--hljs-string-template-variable);
}

#app-mount .hljs-tag .hljs-name {
  color: var(--hljs-tag-name);
}

#app-mount .hljs-tag .hljs-attr {
  color: var(--hljs-tag-attr);
}

#app-mount .hljs-function .hljs-keyword {
  color: var(--hljs-function-keyword);
}

#app-mount .hljs-function .hljs-title {
  color: var(--hljs-function-title);
}

#app-mount .hljs-function .hljs-literal {
  color: var(--hljs-function-literal);
}

#app-mount .hljs-function .hljs-params {
  color: var(--hljs-function-params);
}

#app-mount .hljs-function .hljs-operator {
  color: var(--hljs-function-operator);
}

#app-mount .hljs-class .hljs-keyword {
  color: var(--hljs-class-keyword);
}

#app-mount .hljs-class .hljs-title {
  color: var(--hljs-class-title);
}

/* Haskell Specific Syntax */
#app-mount .hs .hljs-type {
  color: var(--color-7);
}

/* Lua Specific Syntax */
#app-mount .lua .hljs-built_in {
  color: var(--color-7);
}

/* Clang Specific Syntax */
#app-mount .c .hljs-keyword {
  color: var(--color-7);
}
#app-mount .c .hljs-built_in {
  color: var(--color-9);
}
#app-mount .c > .hljs-keyword {
  color: var(--color-10);
}

/* CSS Specific Syntax */
#app-mount .css .hljs-built_in {
  color: var(--color-5);
}

/* Rust Specific Syntax */
#app-mount .rust .hljs-built_in {
  color: var(--color-7);
}

/* PHP Specific Syntax */
#app-mount .php .hljs-variable {
  color: var(--color-10);
}
